.wrapper{
    width: 100%;
    max-width: 800px;
    padding: 24px;
    background-color: lightgrey;
    margin: 100px auto;
}

.title{
    font-size: 48px;
    text-align: center;
}
.tasks{
    padding: 24px;
    background-color: white;
}

.bottomGroup{
    display: flex;
    align-items: center;
    padding: 14px;
}
.item{
    margin-right: 20px;
    color: #808080
}